@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bitcount+Prop+Single:wght@100..900&family=Bitcount:wght@100..900&family=Special+Gothic+Expanded+One&display=swap');



.hello{
  margin-top: 20px;
  width: 120px;
  height: 120px;
  position: absolute;
  left: 10px;
  display: none;
}

.musica-container{
    position: relative;
    display: flex;
    justify-content: center;
    
    
}


.musica{
    margin-top: 20px;
    width: 540px;
    background-image: linear-gradient(to top right, rgb(21, 9, 51), rgb(10, 40, 212) );
    height: 270px;
    border-radius: 40px;
    box-shadow: 
    0 0 5px #ff4da6,
    0 0 10px #ff1a75,
    0 0 20px #ff3399,
    0 0 40px #ff66b2;
    position: relative;
    display: flex;
    
}


.nome-musica{
   font-family: "Bitcount", system-ui;
   color: white;
   position: absolute;
   font-size: 23px;
   top: 20px;
   left: 140px;

}

.imagem-musica{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 20px;
    left: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px rgba(0,0,0,0.19);
    transition: transform 0.2 ease;
}

.imagem-musica:hover{
  transform: scale(0.9);
  cursor: pointer;
}

.nome-artista{
   font-family: "Bitcount", system-ui;
   color: white;
   position: absolute;
   font-size: 15px;
   top: 60px;
   left: 140px;
}


.play{
    width: 55px;
    height: 55px;
    position: absolute;
    top: 130px;
    left: 250px;
    transition: transform 0.2 ease;
    cursor: pointer;
    
}

.play:hover{
    transform: scale(0.9);
}


.next{
    width: 55px;
    height: 55px;
    position: absolute;
    top: 130px;
    left: 430px;
    transition: transform 0.2 ease;
    cursor: pointer;
}


.progress-bar {
      width: 80%;
      margin: 15px 0;
      position: absolute;
      top: 200px;
      left: 55px;
    }

    input[type="range"] {
      width: 100%;
      appearance: none;
      height: 6px;
      border-radius: 4px;
      background: #ffffff;
      outline: none;
      cursor: pointer;
    }

    input[type="range"]::-webkit-slider-thumb {
      appearance: none;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      background: #48003c;
      border: none;
    }


.tempo-passando{
  color: white;
}

.duracao{
  color: white;
  position: absolute;
  bottom: 18px;
  left: 409px;
}

.conteudo-section{
  background-color: transparent;
  height: 100vh;
  display: flex;
  justify-content: center;
  
}


html, body {
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(0deg, rgba(6, 0, 26, 1) 30%, rgba(7, 0, 82, 1) 100%);
  background-repeat: no-repeat;
  background-attachment: fixed; /* mantém fixo ao rolar */
  font-family: "Bitcount", system-ui;
}

.coracao {
  position: absolute;
  top: -50px; /* começa fora da tela */
  animation-name: cair;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  pointer-events: none; /* não atrapalha cliques */
}

@keyframes cair {
  from {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  to {
    transform: translateY(100vh) rotate(360deg);
    opacity: 1;
  }
}

.conteudo-container{
  border-radius: 30px;
  padding: 30px;
  margin-top: 50px;
  max-width: 500px;
  height: 1800px;
  text-align: center;
  background: #ff0059;
  background: linear-gradient(180deg, rgba(255, 0, 89, 1) 30%, rgba(168, 0, 132, 1) 100%);
   box-shadow: 
    0 0 5px #ff4da6,
    0 0 10px #ff1a75,
    0 0 20px #ff3399,
    0 0 40px #ff66b2;
  transition: transform 0.3s ease;
  }

.conteudo-container:hover{
  transform: scale(1.03);
}



.conteudo-content p{
  color: rgb(255, 255, 255);
  font-size: 23px;
}




.btn{
  font-size: 25px;
  margin-top: 20px;
  border-radius: 20px;
  display: inline-block;
  color: white;
  background: #0008ff;
  background: linear-gradient(178deg, rgba(0, 8, 255, 1) 0%, rgba(255, 5, 180, 1) 100%);
  width: 250px;
  padding: 25px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px rgba(0,0,0,0.19);
  transition: transform 0.3s ease;
  cursor: pointer;
}

.btn:hover {
      transform: scale(1.1);
      box-shadow: 0 8px 16px rgba(255, 5, 180, 0.6);
    }

.love-text {
      margin-top: 30px;
      font-size: 50px;
      font-weight: bold;
      color: #ffffff;
      text-shadow: 0 0 10px #ff5edc, 0 0 20px #ff1493, 0 0 40px #ff007f;
      opacity: 0;
      transform: scale(0.5);
      transition: all 1s ease;
    }

    .love-text.show {
      opacity: 1;
      transform: scale(1.2);
      animation: pulse 1.5s infinite alternate;
    }

    @keyframes pulse {
      from { transform: scale(1); }
      to   { transform: scale(1.2); }
    }



/* Telas até 480px (celulares pequenos) */
@media (max-width: 780px){
  .musica {
    width: 90%;
    height: 200px;
  }

  .imagem-musica {
    width: 70px;
    height: 70px;
    top: 15px;
    left: 15px;
  }

  .nome-musica {
    font-size: 15px;
    top: 15px;
    left: 95px;
  }

  .nome-artista {
    font-size: 11px;
    top: 40px;
    left: 95px;
  }

  .play {
    top: 95px;
    left: 160px;
    width: 45px;
    height: 45px;
  }

  .progress-bar {
    width: 270px;
    top: 136px;
    left: 40px;
  }

  .duracao {
    left: 252px;
    
  }

  .conteudo-container{
    max-width: 300px;
    padding: 20px;
    height: 2100px;
  }

  .conteudo-container:hover{
    transform: scale(1.01);
    margin-top: 40px;
  }

  .conteudo-content p{
    font-size: 20px;
  }

  .love-text{
    font-size: 35px;
  }
}

span{
  color: rgb(2, 179, 255);
}